<html>
    <head>
        <title>Online flight tracker app</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!-- <link rel="stylesheet" href="newcss.css"> -->
    </head>
    <body>
<main>
  <section>
<h1>Flight Tracker</h1>

</section>
</main>
      <!--  <script type="text/javascript" src="newjavascript.js"></script> -->
    </body>
</html>