<html>
    <head>
        <title>Online flight tracker app</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
    </head>
    <body>
        <%
        var holdCoords = EJSinputSearch; 
        %>
<main>
  <section>
<h1>Basic map</h1>
<b>Inputted coordinates:</b> <%= EJSinputSearch %>
  <div id="map"></div>
  <br>
  <form action="/return" method="GET">
    <label for="coordinates"><b>Coordinates:</b></label>
    <input type="text" id="coordinates" name="coordinates">
    <input  type="submit">
    </form>
    
</section>
</main>
      <!--  <script type="text/javascript" src="newjavascript.js"></script> -->
<script>
var client= "<%-process.env.MAPBOX_TOKEN%>";

var testCoords = [<%= holdCoords%>] //Its the array brackets that make it work

	mapboxgl.accessToken = client;
var map = new mapboxgl.Map({
container: 'map', // container id
style: 'mapbox://styles/mapbox/streets-v11', // style URL
center: testCoords , // starting position [lng, lat] they have to be reversed from 
zoom: 11 // starting zoom
});


map.addControl(new mapboxgl.NavigationControl(),"bottom-left"); 

new mapboxgl.Marker() //The code for the marker on the map. 
.setLngLat(testCoords) 
.setPopup(
    new mapboxgl.Popup({ offset: 25 })
        .setHTML(
            "You are here."
        )
)
.addTo(map); //Its adding this marker to the const map up above

  </script>

    </body>
</html>